.loginPage {
    min-height: calc(100vh - 5rem);
    padding: 2.5rem 5rem;
}
.loginPage form {
    max-width: 500px;
    padding: 1rem;
    margin: 0 auto;
    background-color: var(--color-dark--2);
    border-radius: 10px;
}
.loginPage input {
    margin-bottom: 1rem;
}
.loginPage button {
    cursor: pointer;
}