
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://unpkg.com/leaflet@1.9.4/dist/leaflet.css');

:root{
    --color-primary: #ffb545;
    --color-secondary: #00c46a;

    --color-dark--0:#242a2e;
    --color-dark--1:#2d3439;
    --color-dark--2:#42484d;
    --color-light--0:#aaa;
    --color-light--1:#ececec;
    --color-light--2:#d6dee0;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    color: var(--color-light--2);
    font-weight: 400;
    line-height: 1.6;
    background-color: var(--color-dark--1);
}

label {
    font-size: 1.6rem;
    font-weight: 600;
}

input, textarea {
    width: 100%;
    padding: .8rem 1.2rem;
    font-family: inherit;
    font-size: 1.6rem;
    border: none;
    border-radius: 5px;
    background-color: var(--color-light--2);
    transition: all .2s;
}

input:focus {
    outline: none;
    background-color: #fff;
}

.cta{
    padding: .8rem 2rem;
    background-color: var(--color-secondary);
    color: var(--color-dark--0);
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1.4rem;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}


